.codeInput, #submitButton, #clearButton {
    font-size: 1.5rem;
    width: 30%;
    margin: 10px;
}

#outputCode {
    width: 100%;
}

#textareaOutput {
    position: relative;
    width: 600px;
    height: 40%;
    /* font-size: medium; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#copyTextButton {
    text-align: right;
}

.form {
    /* display: grid; */
    /* grid: auto-flow / 1fr 1fr 2fr; */
    /* display: flex; */
}