#submitButton {

}

body {
    margin-top: 30px;
}

#outputCode {
    /* width: 100%; */
}

#textareaOutput {
    /* height: 10; */
}

#copyTextButton {
    /* text-align: right; */
}

.actionButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* [data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #2a6be3;
  --primary-hover: #194595;
  --primary-focus: rgba(68, 27, 216, 0.125);
  --primary-inverse: #FFF;
  --secondary: #1c15aa;
  --secondary-hover: #241add;
  --contrast:#5a1296;
  --contrast-hover:#5a1296;
} */